---
Language:        Cpp
Standard:        Latest
BasedOnStyle:    Google
IndentWidth:     2
TabWidth:        2
UseTab:          Never
ColumnLimit:     100
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
BreakBeforeBinaryOperators: NonAssignment
BinPackParameters: false
BinPackArguments: false
ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
NamespaceIndentation: None
IndentCaseLabels: true
SortIncludes: true
IncludeBlocks: Preserve
ReflowComments: true
IndentPPDirectives: AfterHash